ProfitPlay/MainForm_Client/Service References/Profit_WS/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Getcarta">
        <s:complexType />
      </s:element>
      <s:element name="GetcartaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetcartaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogEmpleat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogEmpleatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogEmpleatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaComada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaComadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertaComadaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplicaNumeros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplicaNumerosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplicaNumerosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetcartaSoapIn">
    <wsdl:part name="parameters" element="tns:Getcarta" />
  </wsdl:message>
  <wsdl:message name="GetcartaSoapOut">
    <wsdl:part name="parameters" element="tns:GetcartaResponse" />
  </wsdl:message>
  <wsdl:message name="LogEmpleatSoapIn">
    <wsdl:part name="parameters" element="tns:LogEmpleat" />
  </wsdl:message>
  <wsdl:message name="LogEmpleatSoapOut">
    <wsdl:part name="parameters" element="tns:LogEmpleatResponse" />
  </wsdl:message>
  <wsdl:message name="InsertaComadaSoapIn">
    <wsdl:part name="parameters" element="tns:InsertaComada" />
  </wsdl:message>
  <wsdl:message name="InsertaComadaSoapOut">
    <wsdl:part name="parameters" element="tns:InsertaComadaResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplicaNumerosSoapIn">
    <wsdl:part name="parameters" element="tns:MultiplicaNumeros" />
  </wsdl:message>
  <wsdl:message name="MultiplicaNumerosSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplicaNumerosResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Getcarta">
      <wsdl:input message="tns:GetcartaSoapIn" />
      <wsdl:output message="tns:GetcartaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogEmpleat">
      <wsdl:input message="tns:LogEmpleatSoapIn" />
      <wsdl:output message="tns:LogEmpleatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertaComada">
      <wsdl:input message="tns:InsertaComadaSoapIn" />
      <wsdl:output message="tns:InsertaComadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MultiplicaNumeros">
      <wsdl:input message="tns:MultiplicaNumerosSoapIn" />
      <wsdl:output message="tns:MultiplicaNumerosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Getcarta">
      <soap:operation soapAction="http://tempuri.org/Getcarta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogEmpleat">
      <soap:operation soapAction="http://tempuri.org/LogEmpleat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaComada">
      <soap:operation soapAction="http://tempuri.org/InsertaComada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplicaNumeros">
      <soap:operation soapAction="http://tempuri.org/MultiplicaNumeros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Getcarta">
      <soap12:operation soapAction="http://tempuri.org/Getcarta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogEmpleat">
      <soap12:operation soapAction="http://tempuri.org/LogEmpleat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaComada">
      <soap12:operation soapAction="http://tempuri.org/InsertaComada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplicaNumeros">
      <soap12:operation soapAction="http://tempuri.org/MultiplicaNumeros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:49362/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:49362/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>