trunk/ProfitPlay/MainForm_Client/Service References/ws_profitplay/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LogEmpleat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogEmpleatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogEmpleatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProducte">
        <s:complexType />
      </s:element>
      <s:element name="GetProducteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProducteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComanda">
        <s:complexType />
      </s:element>
      <s:element name="GetComandaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComandaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetComanda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_comanda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="producte" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetComandaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetComandaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpleat">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpleatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpleatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEmpleat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEmpleatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetEmpleatResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogEmpleatSoapIn">
    <wsdl:part name="parameters" element="tns:LogEmpleat" />
  </wsdl:message>
  <wsdl:message name="LogEmpleatSoapOut">
    <wsdl:part name="parameters" element="tns:LogEmpleatResponse" />
  </wsdl:message>
  <wsdl:message name="GetProducteSoapIn">
    <wsdl:part name="parameters" element="tns:GetProducte" />
  </wsdl:message>
  <wsdl:message name="GetProducteSoapOut">
    <wsdl:part name="parameters" element="tns:GetProducteResponse" />
  </wsdl:message>
  <wsdl:message name="GetComandaSoapIn">
    <wsdl:part name="parameters" element="tns:GetComanda" />
  </wsdl:message>
  <wsdl:message name="GetComandaSoapOut">
    <wsdl:part name="parameters" element="tns:GetComandaResponse" />
  </wsdl:message>
  <wsdl:message name="SetComandaSoapIn">
    <wsdl:part name="parameters" element="tns:SetComanda" />
  </wsdl:message>
  <wsdl:message name="SetComandaSoapOut">
    <wsdl:part name="parameters" element="tns:SetComandaResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpleatSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpleat" />
  </wsdl:message>
  <wsdl:message name="GetEmpleatSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpleatResponse" />
  </wsdl:message>
  <wsdl:message name="SetEmpleatSoapIn">
    <wsdl:part name="parameters" element="tns:SetEmpleat" />
  </wsdl:message>
  <wsdl:message name="SetEmpleatSoapOut">
    <wsdl:part name="parameters" element="tns:SetEmpleatResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="LogEmpleat">
      <wsdl:input message="tns:LogEmpleatSoapIn" />
      <wsdl:output message="tns:LogEmpleatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProducte">
      <wsdl:input message="tns:GetProducteSoapIn" />
      <wsdl:output message="tns:GetProducteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComanda">
      <wsdl:input message="tns:GetComandaSoapIn" />
      <wsdl:output message="tns:GetComandaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetComanda">
      <wsdl:input message="tns:SetComandaSoapIn" />
      <wsdl:output message="tns:SetComandaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpleat">
      <wsdl:input message="tns:GetEmpleatSoapIn" />
      <wsdl:output message="tns:GetEmpleatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetEmpleat">
      <wsdl:input message="tns:SetEmpleatSoapIn" />
      <wsdl:output message="tns:SetEmpleatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogEmpleat">
      <soap:operation soapAction="http://tempuri.org/LogEmpleat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducte">
      <soap:operation soapAction="http://tempuri.org/GetProducte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComanda">
      <soap:operation soapAction="http://tempuri.org/GetComanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetComanda">
      <soap:operation soapAction="http://tempuri.org/SetComanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpleat">
      <soap:operation soapAction="http://tempuri.org/GetEmpleat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmpleat">
      <soap:operation soapAction="http://tempuri.org/SetEmpleat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogEmpleat">
      <soap12:operation soapAction="http://tempuri.org/LogEmpleat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducte">
      <soap12:operation soapAction="http://tempuri.org/GetProducte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComanda">
      <soap12:operation soapAction="http://tempuri.org/GetComanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetComanda">
      <soap12:operation soapAction="http://tempuri.org/SetComanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpleat">
      <soap12:operation soapAction="http://tempuri.org/GetEmpleat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmpleat">
      <soap12:operation soapAction="http://tempuri.org/SetEmpleat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:53843/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:53843/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>