ProfitPlay/MainForm_Client/Service References/ws_profitplay/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LogEmpleat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogEmpleatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogEmpleatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteEmpleat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sur" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteEmpleatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteEmpleatResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContaEmpleats">
        <s:complexType />
      </s:element>
      <s:element name="ContaEmpleatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContaEmpleatsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpleat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpleatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpleatResult" type="tns:EmpleatBD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmpleatBD">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cognom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetEmpleat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cognom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEmpleatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetEmpleatResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmpleats">
        <s:complexType />
      </s:element>
      <s:element name="getEmpleatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmpleatsResult" type="tns:ArrayOfEmpleat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmpleat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Empleat" nillable="true" type="tns:Empleat" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Empleat">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cognom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllPlats">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPlatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPlatsResult" type="tns:ArrayOfPlatDB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPlatDB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PlatDB" nillable="true" type="tns:PlatDB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlatDB">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id_producte" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="id_ingredient" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="quantitat" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult" type="tns:ArrayOfUsuariBD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsuariBD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UsuariBD" nillable="true" type="tns:UsuariBD" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UsuariBD">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_usuari" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Punts" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Comensals" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLastUserId">
        <s:complexType />
      </s:element>
      <s:element name="GetLastUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLastUserIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Punts" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Comensals" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="ContaProductes">
        <s:complexType />
      </s:element>
      <s:element name="ContaProductesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContaProductesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNomProducteById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_producte" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNomProducteByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNomProducteByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIdProducteByNom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIdProducteByNomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIdProducteByNomResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreuProducteById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_producte" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreuProducteByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPreuProducteByIdResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProducte">
        <s:complexType />
      </s:element>
      <s:element name="GetProducteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProducteResult" type="tns:ArrayOfProducteBD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProducteBD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProducteBD" nillable="true" type="tns:ProducteBD" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProducteBD">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="tipus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripicio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="preu" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStockActualById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockActualByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStockActualByIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStockActualById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="s" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStockActualByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetNomIngredientById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNomIngredientByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNomIngredientByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIdIngredientByNom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIdIngredientByNomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIdIngredientByNomResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIngredients">
        <s:complexType />
      </s:element>
      <s:element name="GetIngredientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIngredientsResult" type="tns:ArrayOfIngredientDB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIngredientDB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IngredientDB" nillable="true" type="tns:IngredientDB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IngredientDB">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="preu" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="quantitat" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stock_minim" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stock_actual" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllComandes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllComandesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllComandesResult" type="tns:ArrayOfComandaDB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfComandaDB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ComandaDB" nillable="true" type="tns:ComandaDB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ComandaDB">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_usuari" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_producte" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Hora" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estat" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetComandaByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComandaByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComandaByUserIdResult" type="tns:ArrayOfComandaDB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetComanda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_producte" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hora" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetComandaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetComandaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnulaComanda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_comanda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnulaComandaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AnulaComandaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SolPagarComanda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_comanda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SolPagarComandaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SolPagarComandaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteComandaByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteComandaByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteComandaByUserIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertCompra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_i" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="q" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="e" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertCompraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertCompraResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCompres">
        <s:complexType />
      </s:element>
      <s:element name="getCompresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCompresResult" type="tns:ArrayOfCompra" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCompra">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Compra" nillable="true" type="tns:Compra" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Compra">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_compra" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_ingredient" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantitat" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Estat" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetProducte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="preu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetProducteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetProducteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRelacioProducteIngredient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idProducte" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idIngredient" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRelacioProducteIngredientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertRelacioProducteIngredientResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIngredient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="preu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quantitat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stockminim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIngredientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertIngredientResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogEmpleatSoapIn">
    <wsdl:part name="parameters" element="tns:LogEmpleat" />
  </wsdl:message>
  <wsdl:message name="LogEmpleatSoapOut">
    <wsdl:part name="parameters" element="tns:LogEmpleatResponse" />
  </wsdl:message>
  <wsdl:message name="deleteEmpleatSoapIn">
    <wsdl:part name="parameters" element="tns:deleteEmpleat" />
  </wsdl:message>
  <wsdl:message name="deleteEmpleatSoapOut">
    <wsdl:part name="parameters" element="tns:deleteEmpleatResponse" />
  </wsdl:message>
  <wsdl:message name="ContaEmpleatsSoapIn">
    <wsdl:part name="parameters" element="tns:ContaEmpleats" />
  </wsdl:message>
  <wsdl:message name="ContaEmpleatsSoapOut">
    <wsdl:part name="parameters" element="tns:ContaEmpleatsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpleatSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpleat" />
  </wsdl:message>
  <wsdl:message name="GetEmpleatSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpleatResponse" />
  </wsdl:message>
  <wsdl:message name="SetEmpleatSoapIn">
    <wsdl:part name="parameters" element="tns:SetEmpleat" />
  </wsdl:message>
  <wsdl:message name="SetEmpleatSoapOut">
    <wsdl:part name="parameters" element="tns:SetEmpleatResponse" />
  </wsdl:message>
  <wsdl:message name="getEmpleatsSoapIn">
    <wsdl:part name="parameters" element="tns:getEmpleats" />
  </wsdl:message>
  <wsdl:message name="getEmpleatsSoapOut">
    <wsdl:part name="parameters" element="tns:getEmpleatsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPlatsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPlats" />
  </wsdl:message>
  <wsdl:message name="GetAllPlatsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPlatsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastUserId" />
  </wsdl:message>
  <wsdl:message name="GetLastUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewUser" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="ContaProductesSoapIn">
    <wsdl:part name="parameters" element="tns:ContaProductes" />
  </wsdl:message>
  <wsdl:message name="ContaProductesSoapOut">
    <wsdl:part name="parameters" element="tns:ContaProductesResponse" />
  </wsdl:message>
  <wsdl:message name="GetNomProducteByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetNomProducteById" />
  </wsdl:message>
  <wsdl:message name="GetNomProducteByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetNomProducteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetIdProducteByNomSoapIn">
    <wsdl:part name="parameters" element="tns:GetIdProducteByNom" />
  </wsdl:message>
  <wsdl:message name="GetIdProducteByNomSoapOut">
    <wsdl:part name="parameters" element="tns:GetIdProducteByNomResponse" />
  </wsdl:message>
  <wsdl:message name="GetPreuProducteByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetPreuProducteById" />
  </wsdl:message>
  <wsdl:message name="GetPreuProducteByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetPreuProducteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetProducteSoapIn">
    <wsdl:part name="parameters" element="tns:GetProducte" />
  </wsdl:message>
  <wsdl:message name="GetProducteSoapOut">
    <wsdl:part name="parameters" element="tns:GetProducteResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockActualByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockActualById" />
  </wsdl:message>
  <wsdl:message name="GetStockActualByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockActualByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStockActualByIdSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStockActualById" />
  </wsdl:message>
  <wsdl:message name="UpdateStockActualByIdSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStockActualByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetNomIngredientByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetNomIngredientById" />
  </wsdl:message>
  <wsdl:message name="GetNomIngredientByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetNomIngredientByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetIdIngredientByNomSoapIn">
    <wsdl:part name="parameters" element="tns:GetIdIngredientByNom" />
  </wsdl:message>
  <wsdl:message name="GetIdIngredientByNomSoapOut">
    <wsdl:part name="parameters" element="tns:GetIdIngredientByNomResponse" />
  </wsdl:message>
  <wsdl:message name="GetIngredientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetIngredients" />
  </wsdl:message>
  <wsdl:message name="GetIngredientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllComandesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllComandes" />
  </wsdl:message>
  <wsdl:message name="GetAllComandesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllComandesResponse" />
  </wsdl:message>
  <wsdl:message name="GetComandaByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetComandaByUserId" />
  </wsdl:message>
  <wsdl:message name="GetComandaByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetComandaByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="SetComandaSoapIn">
    <wsdl:part name="parameters" element="tns:SetComanda" />
  </wsdl:message>
  <wsdl:message name="SetComandaSoapOut">
    <wsdl:part name="parameters" element="tns:SetComandaResponse" />
  </wsdl:message>
  <wsdl:message name="AnulaComandaSoapIn">
    <wsdl:part name="parameters" element="tns:AnulaComanda" />
  </wsdl:message>
  <wsdl:message name="AnulaComandaSoapOut">
    <wsdl:part name="parameters" element="tns:AnulaComandaResponse" />
  </wsdl:message>
  <wsdl:message name="SolPagarComandaSoapIn">
    <wsdl:part name="parameters" element="tns:SolPagarComanda" />
  </wsdl:message>
  <wsdl:message name="SolPagarComandaSoapOut">
    <wsdl:part name="parameters" element="tns:SolPagarComandaResponse" />
  </wsdl:message>
  <wsdl:message name="deleteComandaByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:deleteComandaByUserId" />
  </wsdl:message>
  <wsdl:message name="deleteComandaByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:deleteComandaByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="insertCompraSoapIn">
    <wsdl:part name="parameters" element="tns:insertCompra" />
  </wsdl:message>
  <wsdl:message name="insertCompraSoapOut">
    <wsdl:part name="parameters" element="tns:insertCompraResponse" />
  </wsdl:message>
  <wsdl:message name="getCompresSoapIn">
    <wsdl:part name="parameters" element="tns:getCompres" />
  </wsdl:message>
  <wsdl:message name="getCompresSoapOut">
    <wsdl:part name="parameters" element="tns:getCompresResponse" />
  </wsdl:message>
  <wsdl:message name="SetProducteSoapIn">
    <wsdl:part name="parameters" element="tns:SetProducte" />
  </wsdl:message>
  <wsdl:message name="SetProducteSoapOut">
    <wsdl:part name="parameters" element="tns:SetProducteResponse" />
  </wsdl:message>
  <wsdl:message name="InsertRelacioProducteIngredientSoapIn">
    <wsdl:part name="parameters" element="tns:InsertRelacioProducteIngredient" />
  </wsdl:message>
  <wsdl:message name="InsertRelacioProducteIngredientSoapOut">
    <wsdl:part name="parameters" element="tns:InsertRelacioProducteIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="InsertIngredientSoapIn">
    <wsdl:part name="parameters" element="tns:InsertIngredient" />
  </wsdl:message>
  <wsdl:message name="InsertIngredientSoapOut">
    <wsdl:part name="parameters" element="tns:InsertIngredientResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="LogEmpleat">
      <wsdl:input message="tns:LogEmpleatSoapIn" />
      <wsdl:output message="tns:LogEmpleatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteEmpleat">
      <wsdl:input message="tns:deleteEmpleatSoapIn" />
      <wsdl:output message="tns:deleteEmpleatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContaEmpleats">
      <wsdl:input message="tns:ContaEmpleatsSoapIn" />
      <wsdl:output message="tns:ContaEmpleatsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpleat">
      <wsdl:input message="tns:GetEmpleatSoapIn" />
      <wsdl:output message="tns:GetEmpleatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetEmpleat">
      <wsdl:input message="tns:SetEmpleatSoapIn" />
      <wsdl:output message="tns:SetEmpleatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmpleats">
      <wsdl:input message="tns:getEmpleatsSoapIn" />
      <wsdl:output message="tns:getEmpleatsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlats">
      <wsdl:input message="tns:GetAllPlatsSoapIn" />
      <wsdl:output message="tns:GetAllPlatsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastUserId">
      <wsdl:input message="tns:GetLastUserIdSoapIn" />
      <wsdl:output message="tns:GetLastUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <wsdl:input message="tns:InsertNewUserSoapIn" />
      <wsdl:output message="tns:InsertNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContaProductes">
      <wsdl:input message="tns:ContaProductesSoapIn" />
      <wsdl:output message="tns:ContaProductesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNomProducteById">
      <wsdl:input message="tns:GetNomProducteByIdSoapIn" />
      <wsdl:output message="tns:GetNomProducteByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIdProducteByNom">
      <wsdl:input message="tns:GetIdProducteByNomSoapIn" />
      <wsdl:output message="tns:GetIdProducteByNomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPreuProducteById">
      <wsdl:input message="tns:GetPreuProducteByIdSoapIn" />
      <wsdl:output message="tns:GetPreuProducteByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProducte">
      <wsdl:input message="tns:GetProducteSoapIn" />
      <wsdl:output message="tns:GetProducteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockActualById">
      <wsdl:input message="tns:GetStockActualByIdSoapIn" />
      <wsdl:output message="tns:GetStockActualByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStockActualById">
      <wsdl:input message="tns:UpdateStockActualByIdSoapIn" />
      <wsdl:output message="tns:UpdateStockActualByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNomIngredientById">
      <wsdl:input message="tns:GetNomIngredientByIdSoapIn" />
      <wsdl:output message="tns:GetNomIngredientByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIdIngredientByNom">
      <wsdl:input message="tns:GetIdIngredientByNomSoapIn" />
      <wsdl:output message="tns:GetIdIngredientByNomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredients">
      <wsdl:input message="tns:GetIngredientsSoapIn" />
      <wsdl:output message="tns:GetIngredientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllComandes">
      <wsdl:input message="tns:GetAllComandesSoapIn" />
      <wsdl:output message="tns:GetAllComandesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComandaByUserId">
      <wsdl:input message="tns:GetComandaByUserIdSoapIn" />
      <wsdl:output message="tns:GetComandaByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetComanda">
      <wsdl:input message="tns:SetComandaSoapIn" />
      <wsdl:output message="tns:SetComandaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnulaComanda">
      <wsdl:input message="tns:AnulaComandaSoapIn" />
      <wsdl:output message="tns:AnulaComandaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SolPagarComanda">
      <wsdl:input message="tns:SolPagarComandaSoapIn" />
      <wsdl:output message="tns:SolPagarComandaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteComandaByUserId">
      <wsdl:input message="tns:deleteComandaByUserIdSoapIn" />
      <wsdl:output message="tns:deleteComandaByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertCompra">
      <wsdl:input message="tns:insertCompraSoapIn" />
      <wsdl:output message="tns:insertCompraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCompres">
      <wsdl:input message="tns:getCompresSoapIn" />
      <wsdl:output message="tns:getCompresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetProducte">
      <wsdl:input message="tns:SetProducteSoapIn" />
      <wsdl:output message="tns:SetProducteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertRelacioProducteIngredient">
      <wsdl:input message="tns:InsertRelacioProducteIngredientSoapIn" />
      <wsdl:output message="tns:InsertRelacioProducteIngredientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertIngredient">
      <wsdl:input message="tns:InsertIngredientSoapIn" />
      <wsdl:output message="tns:InsertIngredientSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogEmpleat">
      <soap:operation soapAction="http://tempuri.org/LogEmpleat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmpleat">
      <soap:operation soapAction="http://tempuri.org/deleteEmpleat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContaEmpleats">
      <soap:operation soapAction="http://tempuri.org/ContaEmpleats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpleat">
      <soap:operation soapAction="http://tempuri.org/GetEmpleat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmpleat">
      <soap:operation soapAction="http://tempuri.org/SetEmpleat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpleats">
      <soap:operation soapAction="http://tempuri.org/getEmpleats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlats">
      <soap:operation soapAction="http://tempuri.org/GetAllPlats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastUserId">
      <soap:operation soapAction="http://tempuri.org/GetLastUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap:operation soapAction="http://tempuri.org/InsertNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContaProductes">
      <soap:operation soapAction="http://tempuri.org/ContaProductes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNomProducteById">
      <soap:operation soapAction="http://tempuri.org/GetNomProducteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdProducteByNom">
      <soap:operation soapAction="http://tempuri.org/GetIdProducteByNom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreuProducteById">
      <soap:operation soapAction="http://tempuri.org/GetPreuProducteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducte">
      <soap:operation soapAction="http://tempuri.org/GetProducte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockActualById">
      <soap:operation soapAction="http://tempuri.org/GetStockActualById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStockActualById">
      <soap:operation soapAction="http://tempuri.org/UpdateStockActualById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNomIngredientById">
      <soap:operation soapAction="http://tempuri.org/GetNomIngredientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdIngredientByNom">
      <soap:operation soapAction="http://tempuri.org/GetIdIngredientByNom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredients">
      <soap:operation soapAction="http://tempuri.org/GetIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllComandes">
      <soap:operation soapAction="http://tempuri.org/GetAllComandes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComandaByUserId">
      <soap:operation soapAction="http://tempuri.org/GetComandaByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetComanda">
      <soap:operation soapAction="http://tempuri.org/SetComanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnulaComanda">
      <soap:operation soapAction="http://tempuri.org/AnulaComanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolPagarComanda">
      <soap:operation soapAction="http://tempuri.org/SolPagarComanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComandaByUserId">
      <soap:operation soapAction="http://tempuri.org/deleteComandaByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCompra">
      <soap:operation soapAction="http://tempuri.org/insertCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompres">
      <soap:operation soapAction="http://tempuri.org/getCompres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProducte">
      <soap:operation soapAction="http://tempuri.org/SetProducte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRelacioProducteIngredient">
      <soap:operation soapAction="http://tempuri.org/InsertRelacioProducteIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIngredient">
      <soap:operation soapAction="http://tempuri.org/InsertIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogEmpleat">
      <soap12:operation soapAction="http://tempuri.org/LogEmpleat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmpleat">
      <soap12:operation soapAction="http://tempuri.org/deleteEmpleat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContaEmpleats">
      <soap12:operation soapAction="http://tempuri.org/ContaEmpleats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpleat">
      <soap12:operation soapAction="http://tempuri.org/GetEmpleat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmpleat">
      <soap12:operation soapAction="http://tempuri.org/SetEmpleat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpleats">
      <soap12:operation soapAction="http://tempuri.org/getEmpleats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlats">
      <soap12:operation soapAction="http://tempuri.org/GetAllPlats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastUserId">
      <soap12:operation soapAction="http://tempuri.org/GetLastUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap12:operation soapAction="http://tempuri.org/InsertNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContaProductes">
      <soap12:operation soapAction="http://tempuri.org/ContaProductes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNomProducteById">
      <soap12:operation soapAction="http://tempuri.org/GetNomProducteById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdProducteByNom">
      <soap12:operation soapAction="http://tempuri.org/GetIdProducteByNom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreuProducteById">
      <soap12:operation soapAction="http://tempuri.org/GetPreuProducteById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducte">
      <soap12:operation soapAction="http://tempuri.org/GetProducte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockActualById">
      <soap12:operation soapAction="http://tempuri.org/GetStockActualById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStockActualById">
      <soap12:operation soapAction="http://tempuri.org/UpdateStockActualById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNomIngredientById">
      <soap12:operation soapAction="http://tempuri.org/GetNomIngredientById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdIngredientByNom">
      <soap12:operation soapAction="http://tempuri.org/GetIdIngredientByNom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredients">
      <soap12:operation soapAction="http://tempuri.org/GetIngredients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllComandes">
      <soap12:operation soapAction="http://tempuri.org/GetAllComandes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComandaByUserId">
      <soap12:operation soapAction="http://tempuri.org/GetComandaByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetComanda">
      <soap12:operation soapAction="http://tempuri.org/SetComanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnulaComanda">
      <soap12:operation soapAction="http://tempuri.org/AnulaComanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolPagarComanda">
      <soap12:operation soapAction="http://tempuri.org/SolPagarComanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComandaByUserId">
      <soap12:operation soapAction="http://tempuri.org/deleteComandaByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCompra">
      <soap12:operation soapAction="http://tempuri.org/insertCompra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompres">
      <soap12:operation soapAction="http://tempuri.org/getCompres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProducte">
      <soap12:operation soapAction="http://tempuri.org/SetProducte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRelacioProducteIngredient">
      <soap12:operation soapAction="http://tempuri.org/InsertRelacioProducteIngredient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIngredient">
      <soap12:operation soapAction="http://tempuri.org/InsertIngredient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:53843/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:53843/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>