ProfitPlay/MainForm_Client/Service References/ws_profitplay/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LogEmpleat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogEmpleatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogEmpleatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContaProductes">
        <s:complexType />
      </s:element>
      <s:element name="ContaProductesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContaProductesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreuProducteById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_producte" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreuProducteByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPreuProducteByIdResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNomProducteById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_producte" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNomProducteByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNomProducteByIdResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProducte">
        <s:complexType />
      </s:element>
      <s:element name="GetProducteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProducteResult" type="tns:ArrayOfProducteBD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProducteBD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProducteBD" nillable="true" type="tns:ProducteBD" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProducteBD">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="tipus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripicio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="preu" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetIngredients">
        <s:complexType />
      </s:element>
      <s:element name="GetIngredientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIngredientsResult" type="tns:ArrayOfIngredientDB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIngredientDB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IngredientDB" nillable="true" type="tns:IngredientDB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IngredientDB">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="preu" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="quantitat" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stock_minim" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetComanda">
        <s:complexType />
      </s:element>
      <s:element name="GetComandaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComandaResult" type="tns:ArrayOfComandaDB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfComandaDB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ComandaDB" nillable="true" type="tns:ComandaDB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ComandaDB">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_usuari" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_producte" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Hora" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estat" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetComanda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_producte" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hora" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetComandaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetComandaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContaEmpleats">
        <s:complexType />
      </s:element>
      <s:element name="ContaEmpleatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContaEmpleatsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpleat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpleatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpleatResult" type="tns:EmpleatBD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmpleatBD">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cognom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetEmpleat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cognom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEmpleatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetEmpleatResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogEmpleatSoapIn">
    <wsdl:part name="parameters" element="tns:LogEmpleat" />
  </wsdl:message>
  <wsdl:message name="LogEmpleatSoapOut">
    <wsdl:part name="parameters" element="tns:LogEmpleatResponse" />
  </wsdl:message>
  <wsdl:message name="ContaProductesSoapIn">
    <wsdl:part name="parameters" element="tns:ContaProductes" />
  </wsdl:message>
  <wsdl:message name="ContaProductesSoapOut">
    <wsdl:part name="parameters" element="tns:ContaProductesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPreuProducteByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetPreuProducteById" />
  </wsdl:message>
  <wsdl:message name="GetPreuProducteByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetPreuProducteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetNomProducteByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetNomProducteById" />
  </wsdl:message>
  <wsdl:message name="GetNomProducteByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetNomProducteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetProducteSoapIn">
    <wsdl:part name="parameters" element="tns:GetProducte" />
  </wsdl:message>
  <wsdl:message name="GetProducteSoapOut">
    <wsdl:part name="parameters" element="tns:GetProducteResponse" />
  </wsdl:message>
  <wsdl:message name="GetIngredientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetIngredients" />
  </wsdl:message>
  <wsdl:message name="GetIngredientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="GetComandaSoapIn">
    <wsdl:part name="parameters" element="tns:GetComanda" />
  </wsdl:message>
  <wsdl:message name="GetComandaSoapOut">
    <wsdl:part name="parameters" element="tns:GetComandaResponse" />
  </wsdl:message>
  <wsdl:message name="SetComandaSoapIn">
    <wsdl:part name="parameters" element="tns:SetComanda" />
  </wsdl:message>
  <wsdl:message name="SetComandaSoapOut">
    <wsdl:part name="parameters" element="tns:SetComandaResponse" />
  </wsdl:message>
  <wsdl:message name="ContaEmpleatsSoapIn">
    <wsdl:part name="parameters" element="tns:ContaEmpleats" />
  </wsdl:message>
  <wsdl:message name="ContaEmpleatsSoapOut">
    <wsdl:part name="parameters" element="tns:ContaEmpleatsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpleatSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpleat" />
  </wsdl:message>
  <wsdl:message name="GetEmpleatSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpleatResponse" />
  </wsdl:message>
  <wsdl:message name="SetEmpleatSoapIn">
    <wsdl:part name="parameters" element="tns:SetEmpleat" />
  </wsdl:message>
  <wsdl:message name="SetEmpleatSoapOut">
    <wsdl:part name="parameters" element="tns:SetEmpleatResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="LogEmpleat">
      <wsdl:input message="tns:LogEmpleatSoapIn" />
      <wsdl:output message="tns:LogEmpleatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContaProductes">
      <wsdl:input message="tns:ContaProductesSoapIn" />
      <wsdl:output message="tns:ContaProductesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPreuProducteById">
      <wsdl:input message="tns:GetPreuProducteByIdSoapIn" />
      <wsdl:output message="tns:GetPreuProducteByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNomProducteById">
      <wsdl:input message="tns:GetNomProducteByIdSoapIn" />
      <wsdl:output message="tns:GetNomProducteByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProducte">
      <wsdl:input message="tns:GetProducteSoapIn" />
      <wsdl:output message="tns:GetProducteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredients">
      <wsdl:input message="tns:GetIngredientsSoapIn" />
      <wsdl:output message="tns:GetIngredientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComanda">
      <wsdl:input message="tns:GetComandaSoapIn" />
      <wsdl:output message="tns:GetComandaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetComanda">
      <wsdl:input message="tns:SetComandaSoapIn" />
      <wsdl:output message="tns:SetComandaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContaEmpleats">
      <wsdl:input message="tns:ContaEmpleatsSoapIn" />
      <wsdl:output message="tns:ContaEmpleatsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpleat">
      <wsdl:input message="tns:GetEmpleatSoapIn" />
      <wsdl:output message="tns:GetEmpleatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetEmpleat">
      <wsdl:input message="tns:SetEmpleatSoapIn" />
      <wsdl:output message="tns:SetEmpleatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogEmpleat">
      <soap:operation soapAction="http://tempuri.org/LogEmpleat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContaProductes">
      <soap:operation soapAction="http://tempuri.org/ContaProductes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreuProducteById">
      <soap:operation soapAction="http://tempuri.org/GetPreuProducteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNomProducteById">
      <soap:operation soapAction="http://tempuri.org/GetNomProducteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducte">
      <soap:operation soapAction="http://tempuri.org/GetProducte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredients">
      <soap:operation soapAction="http://tempuri.org/GetIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComanda">
      <soap:operation soapAction="http://tempuri.org/GetComanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetComanda">
      <soap:operation soapAction="http://tempuri.org/SetComanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContaEmpleats">
      <soap:operation soapAction="http://tempuri.org/ContaEmpleats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpleat">
      <soap:operation soapAction="http://tempuri.org/GetEmpleat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmpleat">
      <soap:operation soapAction="http://tempuri.org/SetEmpleat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogEmpleat">
      <soap12:operation soapAction="http://tempuri.org/LogEmpleat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContaProductes">
      <soap12:operation soapAction="http://tempuri.org/ContaProductes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreuProducteById">
      <soap12:operation soapAction="http://tempuri.org/GetPreuProducteById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNomProducteById">
      <soap12:operation soapAction="http://tempuri.org/GetNomProducteById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducte">
      <soap12:operation soapAction="http://tempuri.org/GetProducte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredients">
      <soap12:operation soapAction="http://tempuri.org/GetIngredients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComanda">
      <soap12:operation soapAction="http://tempuri.org/GetComanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetComanda">
      <soap12:operation soapAction="http://tempuri.org/SetComanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContaEmpleats">
      <soap12:operation soapAction="http://tempuri.org/ContaEmpleats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpleat">
      <soap12:operation soapAction="http://tempuri.org/GetEmpleat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmpleat">
      <soap12:operation soapAction="http://tempuri.org/SetEmpleat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:53843/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:53843/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>